1- Bachelor's degree in Computer Science, Information Systems, or other related technical field or equivalent work

2- Proven experience as a Data Analyst or similar role, 1+ years of experience in a similar position

3- Advanced SQL knowledge/experience - complex queries and query optimization

4- Experienced with data visualization tools such as: Tableau, Looker or PowerBI

5- Hands-on experience with programming languages

6- Strong understanding of statistical concepts

7- Familiarity with data warehouse development and data modeling

8- Highly detailed oriented, must display passion for analytics and data visualization

9- Data manipulation skills and experience in identifying numerical trends

10- Self driven, highly motivated, fast learner, ambitious and creative


